@font-face { font-family: Roboto; src: url('../fonts/Roboto-Regular.ttf'); }
@font-face { font-family: RobotoBold; src: url('../fonts/Roboto-Bold.ttf');}
@font-face { font-family: RobotoLight; src: url('../fonts/Roboto-Light.ttf');}
@font-face { font-family: RobotoMedium; src: url('../fonts/Roboto-Medium.ttf');}
@font-face { font-family: RobotoMediumI; src: url('../fonts/Roboto-MediumItalic.ttf');}
@font-face { font-family: RobotoBlack; src: url('../fonts/Roboto-Black.ttf');}
@font-face { font-family: RobotoItalic; src: url('../fonts/Roboto-Italic.ttf');}

body {
    margin: 0 auto;
    background: url('../img/background.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
      width: 475px;
      height: 600px;
    overflow: auto;
    font-family: Helvetica, Arial, Verdana, Tahoma, sans-serif;
}

body::-webkit-scrollbar{display:none !important;}

#wrapper {
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    padding-right: 0;
    transition: all 0.5s ease;
    overflow-y:hidden;
    height:100%;
}

#wrapper.toggled #sidebar-wrapper {
    width: 240px;
}

#sidebar-wrapper {
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    background: #ffffff;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    transition: all 0.5s ease;
    width: 0;
    z-index: 8;
}

#sidebar-wrapper::-webkit-scrollbar {
    display: none;
}

.sidebar-nav {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    width: 240px;
    right: 0;
}

.sidebar-nav li {
    display: inline-block;
    line-height: 20px;
    position: relative;
    width: 100%;
}

.sidebar-nav li a {
    color: #000000;
    display: block;
    padding: 10px 15px 10px 15px;
    text-decoration: none;
}

.sidebar-nav li a:hover,
.sidebar-nav li a:active,
.sidebar-nav li a:focus,
.sidebar-nav li.active a,
.sidebar-nav li.active a:hover,
.sidebar-nav li.active a:active,
.sidebar-nav li.active a:focus {
    background-color: transparent;
    color: black;
    text-decoration: none;
}


.hamburger {
    background: transparent;
    border: none;
    display: block;
    height: 32px;
    margin-right: 19px;
    position: fixed;
    top: 20px;
    width: 24px;
    right: 0;
    z-index: 4;
}

.hamburger:hover,
.hamburger:focus,
.hamburger:active {
    outline: none;
}

.hamburger.open-nav:before {
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transition: all 0.35s ease-in-out;
    color: #ffffff;
    content: '';
    display: block;
    font-size: 14px;
    line-height: 32px;
    opacity: 0;
    text-align: center;
    width: 100px;
}

.hamburger.open-nav:hover::before {
    -webkit-transform: translate3d(-100px, 0, 0);
    -webkit-transition: all 0.35s ease-in-out;
    display: block;
    opacity: 1;
}

.hamburger.open-nav:hover .hamb-top {
    -webkit-transition: all 0.35s ease-in-out;
    top: 5px;
}

.hamburger.open-nav:hover .hamb-bottom {
    -webkit-transition: all 0.35s ease-in-out;
    bottom: 5px;
}

.hamburger.open-nav .hamb-top {
    -webkit-transition: all 0.35s ease-in-out;
    background-color: #ffffff;
    top: 7px;
}

.hamburger.open-nav .hamb-middle {
    background-color: #ffffff;
    margin-top: -1px;
    top: 50%;
}

.hamburger.open-nav .hamb-bottom {
    -webkit-transition: all 0.35s ease-in-out;
    background-color: #ffffff;
    bottom: 7px;
}

.hamburger.open-nav .hamb-top,
.hamburger.open-nav .hamb-middle,
.hamburger.open-nav .hamb-bottom {
    height: 2px;
    left: 0;
    position: absolute;
    width: 100%;
}

.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 6;
}

.overlayNode {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 6;
}

.overlayNodeContent {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align:center;
}

/* FOR left side */
.navbar-fixed-top {
    left: auto;
}

.container {
  position: relative;
  top: 20px;
}

.logo img{
  position: relative;
  top: -10px;
  left: -11px;
}

.logoBig img{
  position: relative;
  top: 145px;
}

.logoBigDapp img{
  position: relative;
  margin-bottom: 20px;
}

.logoGen img {
  margin-top:50px;
  margin-bottom:75px;
}

.logoCustom {
  height: 75px;
  width: 110px;
  border-right: 1px solid #DDEBFA;
  border-top: 1px solid #DDEBFA;
  border-bottom: 1px solid #DDEBFA;
  display: table;
}

.logoCustom p {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-family: Roboto, Helvetica, Arial, Verdana, Tahoma, sans-serif;
  color: #91aecd;
  font-size: 12px;
}

.siteAddress {
  height: 75px;
  width: 324px;
  border-top: 1px solid #DDEBFA;
  border-bottom: 1px solid #DDEBFA;
  display: table;
}

.siteAddress p {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-family: Roboto, Helvetica, Arial, Verdana, Tahoma, sans-serif;
  color: #555e67;
  font-size: 14px;
}

.warningMessage {
  height: 75px;
  width: 435px;
}

.warningMessage p {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-family: Roboto, Helvetica, Arial, Verdana, Tahoma, sans-serif;
  color: #555e67;
  font-size: 12px;
  padding-left: 50px;
  padding-right: 50px;
  top: 25px;
  position:relative;
}

.close {
  float: left;
  opacity: 1;
}

.closeItem {
  text-align: center;
}

.rounded80 {
  background-color: #F7FCFE;
  border-radius:.80rem!important;
  box-shadow: 0 1px 10px 0 rgba(0, 111, 227, 0.2), 0 1px 310px 0 rgba(0, 111, 227, 0.19);
  margin-left:6px;
  margin-right:4px;
}

p {
  font-family: Roboto, Helvetica, Arial, Verdana, Tahoma, sans-serif;
  display:inline;
}

p.small {
  font-family: RobotoLight, Helvetica, Arial, Verdana, Tahoma, sans-serif;
  font-size: 12px;
}

p.error {
  font-family: Roboto, Helvetica, Arial, Verdana, Tahoma, sans-serif;
  color: red;
}

p.bold {
  font-family: RobotoBold, Helvetica, Arial, Verdana, Tahoma, sans-serif;
}

p.light {
  font-family: RobotoLight, Helvetica, Arial, Verdana, Tahoma, sans-serif;
}

p.medium {
  font-family: RobotoMedium, Helvetica, Arial, Verdana, Tahoma, sans-serif;
}

.confirmsize {
  font-size: 24px;
}

p.mediumi {
  font-family: RobotoMediumI, Helvetica, Arial, Verdana, Tahoma, sans-serif;
}

p.black {
  font-family: RobotoBlack, Helvetica, Arial, Verdana, Tahoma, sans-serif;
}

p.shadow {
  display:inline;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.balance {
  position: relative;
  top: -60px;
  margin-bottom:-52px;
}

.keyLine {
  margin-bottom: 12px;
  font-size: 12px;
  color:#f0f5fd;
}

hr {
  border-top: 1px solid;
  color: #DDEBFA;
  width: 435px;
  margin-left:-16px;
}

.navfooter {
  position: absolute;
  left: 0;
  bottom: 60px;
  width: 100%;
  color: gray;
  text-align: center;
}

a {
  font-family: Roboto, Helvetica, Arial, Verdana, Tahoma, sans-serif;
}

a,
a:hover,
a:focus,
a:active {
  font-family: Roboto, Helvetica, Arial, Verdana, Tahoma, sans-serif;
  color: black;
  text-decoration: none;
}

.copyAddress {
  background-color: #0060B7;
  border: 0px;
}

.inputPublicKey {
  background-color: #168FFA;
  color: #ECF2FF;
  border: 0px;
  font-size:13px;
}

.createInput {
  width: 404px;
}

.btn-genkey {
  border: 1px solid #16bf56;
  background-color: #ffffff;
  color: #16bf56;
  text-align: center;
  height: 60px;
  font-size:14px;
  font-family:RobotoMedium, Helvetica, Arial, Verdana, Tahoma, sans-serif;
  text-decoration:none;
  margin-left:6px;
}

.btn-genkey:hover {
  color: #1ca04d;
}

.btn-tx {
  font-size:14px;
  font-family:RobotoMedium, Helvetica, Arial, Verdana, Tahoma, sans-serif;
  height: 60px;
  text-decoration:none;
  display:inline-block;
  text-shadow: 1px 1px 0 rgba(20,127,60,0.3);
  color: #FFFFFF;
  background-color: #23CB62; background-image: -webkit-gradient(linear, left top, left bottom, from(#23CB62), to(#11BA51));
  background-image: -webkit-linear-gradient(top, #23CB62, #11BA51);
  background-image: -moz-linear-gradient(top, #23CB62, #11BA51);
  background-image: -ms-linear-gradient(top, #23CB62, #11BA51);
  background-image: -o-linear-gradient(top, #23CB62, #11BA51);
  background-image: linear-gradient(to bottom, #23CB62, #11BA51);
  filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#23CB62, endColorstr=#11BA51);
  margin-left:6px;
  width:435px;
  box-shadow: 0 1px 5px 0 rgba(18, 159, 71, 0.4), 0 1px 310px 0 rgba(18, 159, 71, 0.19);
}

.btn-tx:hover{
 background-color: #1ca04d;
 color: #FFFFFF;
 background-image: -webkit-gradient(linear, left top, left bottom, from(#1ca04d), to(#0d8b3d));
 background-image: -webkit-linear-gradient(top, #1ca04d, #0d8b3d);
 background-image: -moz-linear-gradient(top, #1ca04d, #0d8b3d);
 background-image: -ms-linear-gradient(top, #1ca04d, #0d8b3d);
 background-image: -o-linear-gradient(top, #1ca04d, #0d8b3d);
 background-image: linear-gradient(to bottom, #1ca04d, #0d8b3d);
 filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#1ca04d, endColorstr=#0d8b3d);
}

.btn-resettx {
  font-size:14px;
  font-family:RobotoMedium, Helvetica, Arial, Verdana, Tahoma, sans-serif;
  height: 60px;
  text-decoration:none;
  display:inline-block;
  text-shadow: 1px 1px 0 rgba(157,36,36,0.3);
  color: #FFFFFF;
  background-color: #E64551;
 background-image: -webkit-gradient(linear, left top, left bottom, from(#E64551), to(#f44753));
 background-image: -webkit-linear-gradient(top, #E64551, #f44753);
 background-image: -moz-linear-gradient(top, #E64551, #f44753);
 background-image: -ms-linear-gradient(top, #E64551, #f44753);
 background-image: -o-linear-gradient(top, #E64551, #f44753);
 background-image: linear-gradient(to bottom, #E64551, #f44753);
 filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#E64551, endColorstr=#f44753);
  margin-left:6px;
  width:435px;
  box-shadow: 0 1px 5px 0 rgba(231, 68, 83, 0.4), 0 1px 310px 0 rgba(231, 68, 83, 0.19);
}

.btn-resettx:hover{
 color: #FFFFFF;
 background-color: #db1d2b;
 background-image: -webkit-gradient(linear, left top, left bottom, from(#db1d2b), to(#f11726));
 background-image: -webkit-linear-gradient(top, #db1d2b, #f11726);
 background-image: -moz-linear-gradient(top, #db1d2b, #f11726);
 background-image: -ms-linear-gradient(top, #db1d2b, #f11726);
 background-image: -o-linear-gradient(top, #db1d2b, #f11726);
 background-image: linear-gradient(to bottom, #db1d2b, #f11726);
 filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#db1d2b, endColorstr=#f11726);
}

p.header {
  font-size:24px;
  font-family: RobotoMedium, Helvetica, Arial, Verdana, Tahoma, sans-serif;
  color: #4d8dd9;
}

p.headerSmall {
  font-size:16px;
  font-family: RobotoMedium, Helvetica, Arial, Verdana, Tahoma, sans-serif;
  color: #4d8dd9;
}

p.complete {
  font-size:14px;
  font-family: RobotoMedium, Helvetica, Arial, Verdana, Tahoma, sans-serif;
  color: #1ec45d;
}

p.failed {
  font-size:14px;
  font-family: RobotoMedium, Helvetica, Arial, Verdana, Tahoma, sans-serif;
  color: #ec4652;
}

p.txSent {
  font-size:12px;
  font-family: RobotoMedium, Helvetica, Arial, Verdana, Tahoma, sans-serif;
  color: #F55454;
  margin-left:12px;
}

p.txReceived {
  font-size:12px;
  font-family: RobotoMedium, Helvetica, Arial, Verdana, Tahoma, sans-serif;
  color: #15BE55;
  margin-left:12px;
}

p.txHisr {
  font-size: 12px;
  font-family: Roboto, Helvetica, Arial, Verdana, Tahoma, sans-serif;
  color: #464d54;
}

p.warning {
  position:relative;
  top:5px;
  font-size: 14px;
  font-family: Roboto, Helvetica, Arial, Verdana, Tahoma, sans-serif;
  color: #ea5151;
}

p.revoke {
  font-size:12px;
  font-family: RobotoItalic, Helvetica, Arial, Verdana, Tahoma, sans-serif;
  color: #91aecd;
}

.pchange {
  height: 20px;
  position: relative;
  top: -5px;
  margin-left:8px;
  min-width: 40px !important;
  display: inline-block !important
}

.tchange {
  position: relative;
  top: 2px;
  font-size:12px;
}

.txpanel {
  margin-top: 22px;
  height: 253px;
}

.txhispanel {
  height: 495px;
  width: 435px;
  margin-top: -23px;
  margin-left: -10px;
  overflow:hidden;
  overflow-y:auto;
}

.confirmAccessPanel {
  height: 417px;
  width: 435px;
  margin-top: -23px;
  margin-left: -10px;
}

.txdapp {
  height: 360px;
}

.loginpanel {
  margin-top: 170px;
  height: 200px;
}

.keyCopy {
  margin-top:16px;
}

.confirmTitle {
  font-family:RobotoBold, Helvetica, Arial, Verdana, Tahoma, sans-serif;
  font-size: 12px;
  color: #a8bed4;
}

.confirmText {
  font-family:Roboto, Helvetica, Arial, Verdana, Tahoma, sans-serif;
  font-size: 14px;
  color: #878c90;
}

.left {
  float: left;
}

.left30 {
  float:left;
  margin-left:30px;
}

::placeholder {
  color: #a8bed4!important;
  font-size:12px;
}

tr.txhisrow:nth-child(even) {background: #F7FCFE}
tr.txhisrow:nth-child(odd) {background: #EEF4FA}

tr.txhisrow {
  border: 0px;
  height: 50px;
}

tr.txhistitle {
  border: 0px;
  height: 60px;
  width: 435px;
}

input[type=text], textarea {
  font-family:RobotoBold, Helvetica, Arial, Verdana, Tahoma, sans-serif;
  color: #a8bed4;
  font-size: 14px;
  border: 1px solid rgba(221, 235, 250, 0.5);
}

.fileContainer {
    overflow: hidden;
    position: relative;
}

.fileContainer [type=file] {
    cursor: inherit;
    display: block;
    font-size: 999px;
    filter: alpha(opacity=0);
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
}

.btn-file {
  font-family:RobotoMedium, Helvetica, Arial, Verdana, Tahoma, sans-serif;
  font-size: 12px;
  background-color: #e4f0fc;
  color: #91aecd;
  border: 0px;
}

a.pageNumber,
a.pageNumber:hover,
a.pageNumber:focus,
a.pageNumber:active {
  font-family: Roboto, Helvetica, Arial, Verdana, Tahoma, sans-serif;
  font-size: 14px;
  color: #A8BED4;
  margin-left: 5px;
  margin-right: 5px;
}

a.pageNumberActive,
a.pageNumberActive:hover,
a.pageNumberActive:focus,
a.pageNumberActive:active {
  font-family: Roboto, Helvetica, Arial, Verdana, Tahoma, sans-serif;
  font-size: 14px;
  color: #464D54;
  margin-left: 5px;
  margin-right: 5px;
}

.check {
  cursor: pointer;
  position: relative;
  margin: auto;
  width: 18px;
  height: 18px;
  -webkit-tap-highlight-color: transparent;
  transform: translate3d(0, 0, 0);
}
.check:before {
  content: "";
  position: absolute;
  top: -15px;
  left: -15px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: rgba(34,50,84,0.03);
  opacity: 0;
  transition: opacity 0.2s ease;
}
.check svg {
  position: relative;
  z-index: 1;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #c8ccd4;
  stroke-width: 1.5;
  transform: translate3d(0, 0, 0);
  transition: all 0.2s ease;
}
.check svg path {
  stroke-dasharray: 60;
  stroke-dashoffset: 0;
}
.check svg polyline {
  stroke-dasharray: 22;
  stroke-dashoffset: 66;
}
.check:hover:before {
  opacity: 1;
}
.check:hover svg {
  stroke: #006be6;
}
#cbx:checked + .check svg {
  stroke: #006be6;
}
#cbx:checked + .check svg path {
  stroke-dashoffset: 60;
  transition: all 0.3s linear;
}
#cbx:checked + .check svg polyline {
  stroke-dashoffset: 42;
  transition: all 0.2s linear;
  transition-delay: 0.15s;
}

svg.checkIcon {
width: 67px;
display: block;
margin: 40px auto 0;
}
.path {
stroke-dasharray: 1000;
stroke-dashoffset: 0;
}
.path.circle {
-webkit-animation: dash 0.9s ease-in-out;
animation: dash 0.9s ease-in-out;
}
.path.line {
stroke-dashoffset: 1000;
-webkit-animation: dash 0.9s 0.35s ease-in-out forwards;
animation: dash 0.9s 0.35s ease-in-out forwards;
}
.path.check {
stroke-dashoffset: -100;
-webkit-animation: dash-check 0.9s 0.35s ease-in-out forwards;
animation: dash-check 0.9s 0.35s ease-in-out forwards;
}
@-webkit-keyframes dash {
0% {
stroke-dashoffset: 1000;
}
100% {
stroke-dashoffset: 0;
}
}
@keyframes dash {
0% {
stroke-dashoffset: 1000;
}
100% {
stroke-dashoffset: 0;
}
}
@-webkit-keyframes dash-check {
0% {
stroke-dashoffset: -100;
}
100% {
stroke-dashoffset: 900;
}
}
@keyframes dash-check {
0% {
stroke-dashoffset: -100;
}
100% {
stroke-dashoffset: 900;
}
}

ul.dropdown {
  margin: 0;
padding: 0;
  display: none;
  list-style-type:none;
position: absolute;
background-color: rgba(255, 255, 255, 0.9);
width: 397px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 4;
right:0;
top:100%;
max-height:320px;
overflow:hidden;
overflow-y:auto;
}

ul.dropdown li a {
  list-style: none;
  color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
}

ul.dropdown li a:hover {background-color: #f1f1f1}

ul.dropdownSelectNet {
  margin: 0;
  margin-right:15px;
padding: 0;
  display: none;
  list-style-type:none;
position: absolute;
background-color: rgba(255, 255, 255, 0.9);
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
right:0;
top:100%;
max-height:320px;
overflow:hidden;
overflow-y:auto;
}

ul.dropdownSelectNet li a {
  list-style: none;
  color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
}

ul.dropdownSelectNet li a:hover {background-color: #f1f1f1}

.init {
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
}

#dropdownSelect::-webkit-scrollbar-track,
#dropdownSelectToken::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

#dropdownSelect::-webkit-scrollbar,
#dropdownSelectToken::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

#dropdownSelect::-webkit-scrollbar-thumb,
#dropdownSelectToken::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}

.strike {
    display: block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
}

.strike > span {
    position: relative;
    display: inline-block;
}

.strike > span:before,
.strike > span:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 9999px;
    height: 1px;
    background: #DDEBFA;
}

.strike > span:before {
    right: 100%;
    margin-right: 15px;
}

.strike > span:after {
    left: 100%;
    margin-left: 15px;
}

.settingsScroll::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.settingsScroll::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

.settingsScroll::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}

.divPhising {
  text-align: center;
  vertical-align: middle;
  line-height: 71px;
}

p.phising {
  font-family: RobotoLight, Helvetica, Arial, Verdana, Tahoma, sans-serif;
  font-size: 12px;
}

.list-group-item>.badgeDelete {
    float: right
}


.badgeDelete {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;

    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #c9302c;
    border-radius: 10px
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 9; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 435px; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.closeModal {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.closeModal:hover,
.closeModal:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Switch starts here */
.rocker {
  display: inline-block;
  position: relative;
  /*
  SIZE OF SWITCH
  ==============
  All sizes are in em - therefore
  changing the font-size here
  will change the size of the switch.
  See .rocker-small below as example.
  */
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: #888;
  width: 7em;
  height: 4em;
  overflow: hidden;
  border-bottom: 0.5em solid #eee;
}

.rocker-small {
  font-size: 0.75em; /* Sizes the switch */
  margin: 1em;
}

.rocker::before {
  content: "";
  position: absolute;
  top: 0.5em;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #999;
  border: 0.5em solid #eee;
  border-bottom: 0;
}

.rocker input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch-left,
.switch-right {
  cursor: pointer;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5em;
  width: 3em;
  transition: 0.2s;
}

.switch-left {
  height: 2.4em;
  width: 2.75em;
  left: 0.85em;
  bottom: 0.4em;
  background-color: #ddd;
  transform: rotate(15deg) skewX(15deg);
}

.switch-right {
  right: 0.5em;
  bottom: 0;
  background-color: #bd5757;
  color: #fff;
}

.switch-left::before,
.switch-right::before {
  content: "";
  position: absolute;
  width: 0.4em;
  height: 2.45em;
  bottom: -0.45em;
  background-color: #ccc;
  transform: skewY(-65deg);
}

.switch-left::before {
  left: -0.4em;
}

.switch-right::before {
  right: -0.375em;
  background-color: transparent;
  transform: skewY(65deg);
}

input:checked + .switch-left {
  background-color: #0084d0;
  color: #fff;
  bottom: 0px;
  left: 0.5em;
  height: 2.5em;
  width: 3em;
  transform: rotate(0deg) skewX(0deg);
}

input:checked + .switch-left::before {
  background-color: transparent;
  width: 3.0833em;
}

input:checked + .switch-left + .switch-right {
  background-color: #ddd;
  color: #888;
  bottom: 0.4em;
  right: 0.8em;
  height: 2.4em;
  width: 2.75em;
  transform: rotate(-15deg) skewX(-15deg);
}

input:checked + .switch-left + .switch-right::before {
  background-color: #ccc;
}

/* Keyboard Users */
input:focus + .switch-left {
  color: #333;
}

input:checked:focus + .switch-left {
  color: #fff;
}

input:focus + .switch-left + .switch-right {
  color: #fff;
}

input:checked:focus + .switch-left + .switch-right {
  color: #333;
}
